@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#eat {
  border: red solid 2px;
}

#play {
  border: green solid 2px;
}

#fight {
  border: blue solid 2px;
}

#sleep {
  border: indigo solid 2px;
}
