@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}

#app {
  height: 100vh;
  border: black solid 5px;
  display: grid;
  grid-template: repeat(1, 25px) repeat(2, 1fr) / repeat(2, 1fr);
}

#progress {
  border: chartreuse solid 10px;
  grid-column: 1 / -1;
}

#eat {
  border: red solid 2px;
  margin: 5px;
}

#play {
  border: green solid 2px;
  margin: 5px;
}

#fight {
  border: blue solid 2px;
  margin: 5px;
}

#sleep {
  border: indigo solid 2px;
  margin: 5px;
}
