@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./sleep.scss";
@import "./fight.scss";
@import "./play.scss";
@import "./eat.scss";
@import "./progress.scss";

body {
  background-color: antiquewhite;
  color: ivory;
  font-weight: bolder;
  text-align: center;
}

#app {
  height: 100vh;
  display: grid;
  grid-template: repeat(1, 50px) repeat(2, 1fr) / repeat(2, 1fr);
}
